
*{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

html{
    background-color: rgb(179, 179, 179);
    clear:both;
    

}

.container{
    width: 100%;
    max-height: 400px;
    min-height: 400px;
    

    
    
}

#work{
    width: 290px;
    

}

#tomato-bottom{
    background-image: url(img/tomato-bottom.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 141px;
    background-position-y: top ;
    
}

#menu{
    float:left;
   
}


.relogio{
    font-weight: bolder;
    font-size: 15px;
    ;
}

.pomodorosCont{
    min-width: 300px;
}

#clock{
    height: 30px;
    
}

.navbar-brand{
    margin-left: 10px;
}